<div class="row">
  <hr>
  <p id="user_comment">
    <small><%= comment.user.first_name %>  <em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
    <% if current_user && current_user.admin? %>
        <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>
  <div class="rated stars" data-score="<%= comment.rating %>"></div>
  <p><%= comment.body %></p>
</div>