<div class="col-xs-12 col-md-3">
  <a id="link_to_product" href="<%= product_path(product) %>">
    <div class="thumbnail product-column">
      <% cache product do %>



          <h4><%=product.name%></h4>

          <%= image_tag(product.image_url, class: "product_index_pics") %>


        <div class="rated stars" data-score="<%=	product.average_rating  %>"></div>


        <p><%=product.description%></p>

        <p><strong>Price: </strong><%= (product.price/100).to_d %>$</p>


      <% end %>

      <div class="buttons">

        <!--<%#= link_to 'Show', product, :class => 'btn btn-default' %>-->


      </div>
    </div>
  </a>
</div>



