<p id="notice"><%= notice %></p>


<div class="product col-md-6 col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Medium:</strong>
    <%= @product.mediums %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>$
    </p>

</div>

<div class="col-md-6 col-xs-12">

  <div>
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>

<div class="comments row col-md-6 col-xs-12">

</div>
