<!DOCTYPE html>
<html>
  <head>
    
    <title>myproject3</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </head>

  <body>

    <nav class="navigation navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="myNav" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", static_pages_landing_page_path %></li>
            <li><%= link_to "About", static_pages_about_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
          </ul>
          <%=	 form_tag('/products', method:'get', class:'navbar-form navbar-right', role:'search') do %>
              <%=	 text_field_tag(:q, nil, class:'form-control') %>
              <%= submit_tag("Search", class:'btn btn-default')%>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              </span><%=link_to ('<span class="glyphicon glyphicon-step-backward"></span> Back').html_safe, :back %>
            </li>
            <li>
              <% if user_signed_in? %>
                  <%= link_to(('<span class="glyphicon glyphicon-remove"></span> Logout').html_safe, destroy_user_session_path, :method => :delete) %>
              <% else %>
                  <%= link_to(('<span class="glyphicon glyphicon-ok"></span> Login').html_safe, new_user_session_path) %>
              <% end %>
            </li>
          </ul>
        </div>
      </div><!--end fluid container-->
	  </nav>

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>


    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

	  
    <div class="container">

      <%= yield %>
    </div><!--end container-->

    <footer class="footer">
      <div class="container-fluid">
        <hr>
        <div class="col-md-6">
          <ul class="footer-links list-group pull-left">
            <li class="list-group-item"><%= link_to "Home", root_path %></li>
            <li class="list-group-item"><%= link_to "About me", static_pages_about_path %></li>
            <li class="list-group-item"><%= link_to "All Products", products_path %></li>
            <li class="list-group-item"><%= link_to "Contact me", static_pages_contact_path %></li>
            <li class="list-group-item"><%= link_to "Users", users_path %></li>
          </ul>
        </div>

        <div class="col-md-6">
          <p class="pull-right">&copy; Jay</p>
        </div>

      </div>
    </footer>


  </body>
</html>
